<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pp7.1-FrandyJunior</title>
  <link rel="stylesheet" href="./stylesheets/app.css">
</head>

<body>
  <div class="contenedor1">
	<div id="nombre">
    <h1>Examen M8</h1>
	</div>
  <div class="menu">
    <a href="">Home</a> <a href="">About</a> <a href="">Contact</a>
  </div>
  </div>
<div class="contenedor2">
  <div class="header">
  <h1>Lorem ipsum</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices,
  elit id sollicitudin ultricies, nisi dolor faucibus augue, ut mattis
  massa libero id mauris. Suspendisse sed auctor augue, ac gravida enim.
  Cras sagittis urna mi, eget rutrum tellus tristique vitae. Morbi non nibh
  urna. Curabitur eget purus eget mi malesuada viverra.
  </p>
  <a href="#" class="[large] button"  > Sing up today</a>
  </div>
</div>
<div class="contenedor3">
  	<div class="parrafo1">
      <h2>Lorem ipsum</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices,
      elit id sollicitudin ultricies, nisi dolor faucibus augue, ut mattis
      massa libero id mauris.</p>
      <h2>Lorem ipsum</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices,
      elit id sollicitudin ultricies, nisi dolor faucibus augue, ut mattis
      massa libero id mauris.</p>
      <h2>Lorem ipsum</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices,
      elit id sollicitudin ultricies, nisi dolor faucibus augue, ut mattis
      massa libero id mauris.</p>
    </div>
	<div class="parrafo2">
    <h2>Lorem ipsum</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices,
    elit id sollicitudin ultricies, nisi dolor faucibus augue, ut mattis
    massa libero id mauris.</p>
    <h2>Lorem ipsum</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices,
    elit id sollicitudin ultricies, nisi dolor faucibus augue, ut mattis
    massa libero id mauris.</p>
    <h2>Lorem ipsum</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ultrices,
    elit id sollicitudin ultricies, nisi dolor faucibus augue, ut mattis
    massa libero id mauris.</p>

  </div>
  </div>
    <p>
      2015 Company, Inc.
    </p>

</body>

</html>
